/* HOME PAGE hunger */

position: relative;
width: 1920px;
height: 1080px;
overflow-y: scroll;

background: #EDE8DC;


/* Rectangle 6 */

position: absolute;
width: 926px;
height: 2348px;
left: 320px;
top: 291px;

background: linear-gradient(0deg, #D9D9D9, #D9D9D9), linear-gradient(0deg, #D9D9D9, #D9D9D9), #D9D9D9;
border-radius: 81px;


/* Rectangle 8 */

position: absolute;
width: 488px;
height: 761px;
left: 1380px;
top: 180px;

background: #D9D9D9;


/* Rectangle 3 */

position: absolute;
width: 140px;
height: 2797px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(193, 207, 161, 0.76) 0%, #A5B68D 69.8%);
border-right: 5px solid #000000;


/* Group 32 */

position: absolute;
width: 926px;
height: 1135px;
left: 320px;
top: 374px;



/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 926px;
height: 1135px;
left: 320px;
top: 374px;

background: linear-gradient(0deg, #C1CFA1, #C1CFA1), linear-gradient(0deg, #D9D9D9, #D9D9D9), #D9D9D9;
border-width: 5px 0px;
border-style: solid;
border-color: #000000;
filter: blur(2px);
border-radius: 81px;


/* Need food for 5 people */

position: absolute;
width: 415px;
height: 34px;
left: 495px;
top: 1368px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 34px;
/* identical to box height */

color: #000000;



/* Hunger allows no Choice 😢😢 */

position: absolute;
width: 511px;
height: 34px;
left: 360px;
top: 570px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 34px;
/* identical to box height */

color: #000000;



/* DP */

position: absolute;
width: 150px;
height: 150px;
left: 334px;
top: 399px;

background: url(DP.jpg);


/* Sathwik Reddy */

position: absolute;
width: 370px;
height: 55px;
left: 493px;
top: 419px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 47px;
line-height: 55px;
/* identical to box height */
letter-spacing: -0.05em;

color: #000000;



/* Group 31 */

position: absolute;
width: 250px;
height: 55px;
left: 496px;
top: 484px;



/* Rectangle 42 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 55px;
left: 496px;
top: 484px;

background: #D9D9D9;
border: 5px solid #000000;
border-radius: 15px;


/* @sathwik@13 */

position: absolute;
width: 227px;
height: 40px;
left: 510px;
top: 491px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 40px;
/* identical to box height */
letter-spacing: -0.05em;

color: #0F0A00;



/* hunger 1 */

position: absolute;
width: 823px;
height: 696px;
left: 369px;
top: 619px;

background: url(hunger.jpg);
border-radius: 15px;


/* share-message 1 */

position: absolute;
width: 84px;
height: 84px;
left: 388px;
top: 1343px;

background: url(share-message.png);


/* Group 33 */

position: absolute;
width: 926px;
height: 1135px;
left: 320px;
top: 1595px;



/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 926px;
height: 1135px;
left: 320px;
top: 1595px;

background: linear-gradient(0deg, #C1CFA1, #C1CFA1), linear-gradient(0deg, #D9D9D9, #D9D9D9), #D9D9D9;
border-width: 5px 0px;
border-style: solid;
border-color: #000000;
filter: blur(2px);
border-radius: 81px;


/* Need food for 5 people */

position: absolute;
width: 415px;
height: 34px;
left: 495px;
top: 2589px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 34px;
/* identical to box height */

color: #000000;



/* Hunger allows no Choice 😢😢 */

position: absolute;
width: 511px;
height: 34px;
left: 360px;
top: 1791px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 34px;
/* identical to box height */

color: #000000;



/* DP */

position: absolute;
width: 150px;
height: 150px;
left: 333px;
top: 1621px;

background: url(DP.jpg);


/* Sathwik Reddy */

position: absolute;
width: 370px;
height: 55px;
left: 493px;
top: 1640px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 47px;
line-height: 55px;
/* identical to box height */
letter-spacing: -0.05em;

color: #000000;



/* Group 31 */

position: absolute;
width: 250px;
height: 55px;
left: 496px;
top: 1705px;



/* Rectangle 42 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 55px;
left: 496px;
top: 1705px;

background: #D9D9D9;
border: 5px solid #000000;
border-radius: 15px;


/* @sathwik@13 */

position: absolute;
width: 227px;
height: 40px;
left: 510px;
top: 1712px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 40px;
/* identical to box height */
letter-spacing: -0.05em;

color: #0F0A00;



/* hunger 1 */

position: absolute;
width: 823px;
height: 696px;
left: 369px;
top: 1840px;

background: url(hunger.jpg);
border-radius: 15px;


/* share-message 1 */

position: absolute;
width: 84px;
height: 84px;
left: 388px;
top: 2564px;

background: url(share-message.png);


/* food-donation 2 */

position: absolute;
width: 70px;
height: 70px;
right: 1809px;
bottom: 536px;

background: url(food-donation.png);


/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 1780px;
height: 140px;
left: 140px;
top: 0px;

background: linear-gradient(90deg, #A5B68D 77.8%, rgba(193, 207, 161, 0.5) 99.78%);
border-bottom: 5px solid #000000;
border-radius: 1px;


/* filter 1 */

position: absolute;
width: 64px;
height: 64px;
left: 1072px;
top: 39px;

background: url(filter.png);


/* Offering */

position: absolute;
width: 265px;
height: 63px;
left: 651px;
top: 40px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 54px;
line-height: 63px;
/* identical to box height */
letter-spacing: -0.05em;

color: #0F0A00;



/* Group 29 */

position: absolute;
width: 274px;
height: 91px;
left: 258px;
top: 25px;



/* Rectangle 41 */

box-sizing: border-box;

position: absolute;
width: 274px;
height: 91px;
left: 258px;
top: 25px;

background: #D9D9D9;
border: 5px solid #000000;
border-radius: 15px;


/* Hungers */

position: absolute;
width: 230px;
height: 63px;
left: 280px;
top: 39px;

font-family: 'Azeret Mono';
font-style: normal;
font-weight: 300;
font-size: 54px;
line-height: 63px;
/* identical to box height */
letter-spacing: -0.05em;

color: #0F0A00;



/* food-donation 1 */

position: absolute;
width: 84px;
height: 74.17px;
left: 24px;
top: 25px;

background: url(food-donation.png);
mix-blend-mode: normal;


/* search-interface-symbol 1 */

position: absolute;
width: 64px;
height: 64px;
left: 53px;
top: 259px;

background: url(search-interface-symbol.png);


/* home 1 */

position: absolute;
width: 64px;
height: 64px;
left: 51px;
top: 159px;

background: url(home.png);


/* speech-bubble (1) 1 */

position: absolute;
width: 64px;
height: 64px;
left: 53px;
top: 359px;

background: url(speech-bubble (1).png);


/* communication 1 */

position: absolute;
width: 64px;
height: 64px;
left: 47px;
top: 559px;

background: url(communication.png);


/* write 1 */

position: absolute;
width: 64px;
height: 64px;
left: 47px;
top: 659px;

background: url(write.png);


/* user 1 */

position: absolute;
width: 64px;
height: 64px;
left: 47px;
top: 759px;

background: url(user.png);
